{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block modal-header %}
<h2>Add Certificate Keypairs</h2>

{% endblock %}

{% block modal-body-right %}
    <h3>{% trans "Secrets Help" %}</h3>
    <p>{% trans "Secrets are a construct that you can use to store and protect sensistive data. Secrets can be Passwords, Certificates or even RSA Public/private Keypairs. Once created, Secrets can be organized in Containers and consumed by other entities such as LBaaS instances and third party services by using their unique HREF.
    This page lets the user manage their X509 SSL Certificates (Cert/PrivateKey Pairs): before they can be used in LBaaS, they MUST be grouped in a Certificate Container." %}</p>
    <h3>{% trans "A note on encryption and bit-length options." %}</h3>
    <p>{% trans "Ciphersuites, Bit Length and Crypto Modes are only there to reflect how the certificate/privatekey pair was created in the first place. They have no actual meaning in the context of Openstack KeyManager." %}</p>
    <script type="text/javascript">
        if (typeof horizon.user !== 'undefined') {
            horizon.user.init();
        } else {
            addHorizonLoadEvent(function () {
                horizon.user.init();
            });
        }
    </script>
{% endblock %}
