{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block modal-header %}
<h2>Update Secrets</h2>

{% endblock %}

{% block modal-body-right %}
    <h3>{% trans "Secrets Help" %}</h3>
    <p>{% trans "Secrets are a construct that you can use to store and protect sensistive data. Secrets can be Passwords, Certificates or even RSA Public/private Keypairs. Once created, Secrets can be organized in Containers and consumed by other entities such as LBaaS instances and third party services by using their unique HREF." %}</p>

    <script type="text/javascript">
        if (typeof horizon.user !== 'undefined') {
            horizon.user.init();
        } else {
            addHorizonLoadEvent(function () {
                horizon.user.init();
            });
        }
    </script>
{% endblock %}
