{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Secrets Management" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_domain_page_header.html" with title=page_title %}
{% endblock page_header %}

{% block main %}
    {{ table.render }}
    <p/>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Certificate Management Dashboard</h3>
      </div>
      <div class="panel-body">This page lets you manage your SSL Certificates, which are stored inside Openstack's Key Manger.<p/>
              Certificates are tipically composed of an X509 standard certificate, signed by a trusted CA, and a Private.     
      </div>
    </div>
    <p/>
 
{% endblock %}
